# ignore file kết nối database vì mỗi máy có một tên khác nhau
# Tạo folder Database
# Trong folder Database -> tạo class DatabaseHelper.java
# Trong class DatabaseHelper.java thêm dòng code:
# public static final String connectionUrl = "jdbc:sqlserver://<tên host>:1433" + 
#            "databaseName=test1;user=sa;password=123;encrypt=true;trustServerCertificate=true;";
#    public static Connection getDBConnection() {
#       Connection conn = null;
#        try {
#            Class.forName("com.microsoft.sqlserver.jdbc.SQLServerDriver");
#        } catch(Exception ex) {
#            System.out.println("chua co Driver!" + ex.toString());
#        }
#        try {
#            conn = DriverManager.getConnection(connectionUrl);
#            return conn;
#        } catch(Exception ex) {
#            System.out.println("Loi connection" + ex.toString());
#        }
#        return null;
#    }

/src/main/java/Database/DatabaseHelper.java
/src/main/java/com/mycompany/java/nhom2/
/src/main/java/Database/
